<%= form_for @sport do |f| %>
<div class="ui center aligned segment">
<% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sport.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @sport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h4>项目:</h4>
  <div class="ui compact menu">
  <div class="ui pointing dropdown item">
    <input id="var_title" type="hidden"  name="sport[title]" value="<%=@sport.title%>">
    <span class="text">体育项目</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="non-interest item" data-value="足球">足球</div>
      <div class="non-interest item" data-value="篮球">篮球</div>
      <div class="non-interest item" data-value="羽毛球">羽毛球</div>
      <div class="non-interest item" data-value="乒乓">乒乓</div>
      <div class="non-interest item" data-value="台球">台球</div>
      <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        <span class="text">趣味项目</span>
        <div class="menu">
          <div class="interest item" data-value="趣味项目:暴走大礼包">暴走大礼包</div>
          <div class="interest item" data-value="趣味项目:三维弹球">三维弹球</div>
          <div class="interest item" data-value="趣味项目:舞动青春">舞动青春</div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="status">
  <p>
    <%= f.label :状态 %><br>
    <%= radio_button(:sport,:status, "未开始") %>
    <%= label_tag( "未开始") %>
    <%= radio_button(:sport,:status, "已结束") %>
    <%= label_tag( "已结束") %>
</div>
  <p>
    <%= f.label :队伍一 %><br>
    <%= f.text_field :teamone %>
    <div class="interest_hidden">
      <%= radio_button(:sport,:winner, "0") %>
      <%= label_tag( "未开始") %>
      <%= radio_button(:sport,:winner, @sport.teamone) %>
      <label>赢</label>
    </div>
  </p>
  <p>
    <%= f.label :队伍一分数 %><br>
    <%= f.text_field :wp %>
  </p>
<div class="teamtwo">
  <p>
    <%= f.label :队伍二 %><br>
    <%= f.text_field :teamtwo %>
    <p></p>
    <%= radio_button(:sport,:loser, "0") %>
    <%= label_tag( "未开始") %>
    <%= radio_button(:sport,:loser, @sport.teamtwo) %>
    <%= label_tag( "输") %>
  </p>

    <%= f.label :队伍二分数 %><br>
    <%= f.text_field :lp %>
</div>
<div class="others">
  <p>
    <br/>
    <%= f.label :比赛地点 %>
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :比赛时间 %>
    <%= radio_button(:sport, :week, "第一周") %>
    <%= label_tag( "第一周") %>
    <%= radio_button(:sport, :week, "第二周") %>
    <%= label_tag( "第二周") %>
    <%= radio_button(:sport, :week, "第三周") %>
    <%= label_tag( "第三周") %>
    <%= radio_button(:sport, :week, "第四周") %>
    <%= label_tag("第四周") %>
  </p>
  <p>
    <%= radio_button(:sport, :wday, "星期日") %>
    <%= label_tag( "星期日") %>
    <%= radio_button(:sport, :wday, "星期一") %>
    <%= label_tag( "星期一") %>
    <%= radio_button(:sport, :wday, "星期二") %>
    <%= label_tag( "星期二") %>
    <%= radio_button(:sport, :wday, "星期三") %>
    <%= label_tag( "星期三") %>
    <%= radio_button(:sport, :wday, "星期四") %>
    <%= label_tag( "星期四") %>
    <%= radio_button(:sport, :wday, "星期五") %>
    <%= label_tag( "星期五") %>
    <%= radio_button(:sport, :wday, "星期六") %>
    <%= label_tag( "星期六") %>
  </p>
  <p>
    <%= number_field(:sport,:hour, step: 1) %>:
    <%= number_field(:sport,:minute, step: 5) %>
  </p>
</div>
  <p>
    <%= f.submit %>
  </p>
</div>
<% end %>
