<%= form_for @sport do |f| %>
<div class="ui center aligned segment">
<% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sport.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @sport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h4>项目:</h4>
  <div class="ui compact menu">
  <div class="ui pointing dropdown item">
    <input id="var_title" type="hidden"  name="sport[title]" value="<%=@sport.title%>">
    <span class="text">体育项目</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="non-interest item" data-value="足球">足球</div>
      <div class="non-interest item" data-value="篮球">篮球</div>
      <div class="non-interest item" data-value="羽毛球">羽毛球</div>
      <div class="non-interest item" data-value="乒乓球">乒乓球</div>
      <div class="non-interest item" data-value="台球">台球</div>
      <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        <span class="text">趣味项目</span>
        <div class="menu">
          <div class="interest item" data-value="趣味项目:暴走大礼包">暴走大礼包</div>
          <div class="interest item" data-value="趣味项目:三维弹球">三维弹球</div>
          <div class="interest item" data-value="趣味项目:舞动青春">舞动青春</div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="status">
  <p>
    <%= f.label :状态 %><br>
    <%= f.select :status, [["未开始","未开始"],["已结束","已结束"]],{},{:class=>"ui compact dropdown"} %>
  </p>
</div>
  <p>
    <%= f.label :队伍一 %><br>
    <%= f.text_field :teamone %>
    <div class="interest_hidden">
      <%= f.radio_button(:winner, "1") %>
      <label>赢</label>
      <%= f.radio_button(:winner, "2") %>
      <label>输</label>
    </div>
  </p>
  <p>
    <div class="score">
      <%= f.label :队伍一分数 %><br>
      <%= f.text_field :wp %>
    </div>
  </p>
<div class="teamtwo">
  <p>
    <%= f.label :队伍二 %><br>
    <%= f.text_field :teamtwo %>
    <p></p>
  </p>
  <div class="score">
    <%= f.label :队伍二分数 %><br>
    <%= f.text_field :lp %>
  </div>
</div>
<div class="others">
  <p>
    <br/>
    <%= f.label :比赛地点 %>
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :比赛时间 %>
    <%= radio_button(:sport, :week, "校历第五周") %>
    <%= label_tag( "第五周") %>
    <%= radio_button(:sport, :week, "校历第六周") %>
    <%= label_tag( "第六周") %>
    <%= radio_button(:sport, :week, "校历第七周") %>
    <%= label_tag( "第七周") %>
    <%= radio_button(:sport, :week, "校历第八周") %>
    <%= label_tag("第八周") %>
  </p>
  <p>
    <%= radio_button(:sport, :wday, "星期日") %>
    <%= label_tag( "星期日") %>
    <%= radio_button(:sport, :wday, "星期一") %>
    <%= label_tag( "星期一") %>
    <%= radio_button(:sport, :wday, "星期二") %>
    <%= label_tag( "星期二") %>
    <%= radio_button(:sport, :wday, "星期三") %>
    <%= label_tag( "星期三") %>
    <%= radio_button(:sport, :wday, "星期四") %>
    <%= label_tag( "星期四") %>
    <%= radio_button(:sport, :wday, "星期五") %>
    <%= label_tag( "星期五") %>
    <%= radio_button(:sport, :wday, "星期六") %>
    <%= label_tag( "星期六") %>
  </p>
  <p>
    <%= number_field(:sport,:hour, step: 1) %>:
    <%= number_field(:sport,:minute, step: 5) %>
  </p>
</div>
  <p>
    <%= f.submit %>
  </p>
</div>
<% end %>
