<%= form_for @sport do |f| %>
<% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sport.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @sport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :项目 %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :胜方 %><br>
    <%= f.text_field :winner %>
  </p>
  <p>
    <%= f.label :胜方分数 %><br>
    <%= f.text_field :wp %>
  </p>
  <p>
    <%= f.label :败方 %><br>
    <%= f.text_field :loser %>
  </p>
  <p>
    <%= f.label :负方分数 %><br>
    <%= f.text_field :lp %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
