<%= form_for @sport do |f| %>
<% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sport.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @sport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :项目 %><br>
    <%= radio_button_tag(:title, "羽毛球") %>
    <%= label_tag(:title_ymq, "羽毛球") %>
    <%= radio_button_tag(:title, "台球") %>
    <%= label_tag(:title_tq, "台球") %>
    <%= radio_button_tag(:title, "乒乓球") %>
    <%= label_tag(:title_ppq, "乒乓球") %>
    <%= radio_button_tag(:title, "足球") %>
    <%= label_tag(:title_zq, "足球") %>
    <%= radio_button_tag(:title, "篮球") %>
    <%= label_tag(:title_lq, "篮球") %>
    <%= radio_button_tag(:title, "趣味运动") %>
    <%= label_tag(:title_qwyd, "趣味运动") %>
  </p>
  <p>
    <%= f.label :胜方 %><br>
    <%= f.text_field :winner %>
  </p>
  <p>
    <%= f.label :胜方分数 %><br>
    <%= f.text_field :wp %>
  </p>
  <p>
    <%= f.label :败方 %><br>
    <%= f.text_field :loser %>
  </p>
  <p>
    <%= f.label :负方分数 %><br>
    <%= f.text_field :lp %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
