<%= form_for @sport do |f| %>
<% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sport.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @sport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :项目 %><br>
    <%= radio_button(:sport,:title, "羽毛球") %>
    <%= label_tag( "羽毛球") %>
    <%= radio_button(:sport,:title, "台球") %>
    <%= label_tag( "台球") %>
    <%= radio_button(:sport,:title, "乒乓球") %>
    <%= label_tag( "乒乓球") %>
    <%= radio_button(:sport,:title, "足球") %>
    <%= label_tag( "足球") %>
    <%= radio_button(:sport,:title, "篮球") %>
    <%= label_tag( "篮球") %>
    <%= radio_button(:sport,:title, "趣味运动") %>
    <%= label_tag( "趣味运动") %>
  </p>
  <p>
    <%= f.label :状态 %><br>
    <%= radio_button(:sport,:status, "未开始") %>
    <%= label_tag( "未开始") %>
    <%= radio_button(:sport,:status, "进行中") %>
    <%= label_tag( "进行中") %>
    <%= radio_button(:sport,:status, "已结束") %>
    <%= label_tag( "已结束") %>
  <p>
    <%= f.label :队伍一 %><br>
    <%= f.text_field :teamone %>
    <%= radio_button(:sport,:winner, "0") %>
    <%= label_tag( "未开始") %>
    <%= radio_button(:sport,:winner, @sport.teamone) %>
    <%= label_tag( "赢") %>
    <%= radio_button(:sport,:winner, @sport.teamtwo) %>
    <%= label_tag( "输") %>
  </p>
  <p>
    <%= f.label :队伍一分数 %><br>
    <%= f.text_field :wp %>
  </p>
  <p>
    <%= f.label :队伍二 %><br>
    <%= f.text_field :teamtwo %>
    <%= radio_button(:sport,:loser, "0") %>
    <%= label_tag( "未开始") %>
    <%= radio_button(:sport,:loser, @sport.teamone) %>
    <%= label_tag( "赢") %>
    <%= radio_button(:sport,:loser, @sport.teamtwo) %>
    <%= label_tag( "输") %>
  </p>
  <p>
    <%= f.label :队伍二分数 %><br>
    <%= f.text_field :lp %>
  </p>
  <p>
    <%= f.label :比赛时间 %>
    <%= radio_button(:sport, :week, "第一周") %>
    <%= label_tag( "第一周") %>
    <%= radio_button(:sport, :week, "第二周") %>
    <%= label_tag( "第二周") %>
    <%= radio_button(:sport, :week, "第三周") %>
    <%= label_tag( "第三周") %>
    <%= radio_button(:sport, :week, "第四周") %>
    <%= label_tag("第四周") %>
  </p>
  <p>
    <%= radio_button(:sport, :wday, "星期一") %>
    <%= label_tag( "星期一") %>
    <%= radio_button(:sport, :wday, "星期二") %>
    <%= label_tag( "星期二") %>
    <%= radio_button(:sport, :wday, "星期三") %>
    <%= label_tag( "星期三") %>
    <%= radio_button(:sport, :wday, "星期四") %>
    <%= label_tag( "星期四") %>
    <%= radio_button(:sport, :wday, "星期五") %>
    <%= label_tag( "星期五") %>
    <%= radio_button(:sport, :wday, "星期六") %>
    <%= label_tag( "星期六") %>
    <%= radio_button(:sport, :wday, "星期日") %>
    <%= label_tag( "星期日") %>
  </p>
  <p>
    <%= number_field(:sport,:hour, step: 1) %>:
    <%= number_field(:sport,:minute, step: 5) %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
