<p>
  <strong>项目:</strong>
  <%= @sport.title %>
</p>
<p>
  <strong>胜方:</strong>
  <%= @sport.winner %>
</p>
<p>
  <strong>胜方分数:</strong>
  <%= @sport.wp %>
</p>
<p>
  <strong>败方:</strong>
  <%= @sport.loser %>
</p>

<p>
  <strong>败方分数:</strong>
  <%= @sport.lp %>
</p>
<p>
  <%= @sport.week %>
</p>
<p>
  <%= @sport.wday %>
</p>
