<p>
  <strong>项目:</strong>
  <%= @sport.title %>
</p>
<p>
  <strong>队伍一:</strong>
  <%= @sport.teamone %>
  <% if @sport.teamone == @sport.winner then %>（胜）
  <% elsif @sport.teamone == @sport.loser then %>（负）
  <% end %>
</p>
<p>
  <strong>队伍一分数:</strong>
  <%= @sport.wp %>
</p>
<% unless @sport.title.include? "趣味"%>
<p>
  <strong>队伍二:</strong>
  <%= @sport.teamtwo %>
  <% if @sport.teamtwo == @sport.winner then %>（胜）
  <% elsif @sport.teamtwo == @sport.loser then %>（负）
  <% end %>
</p>
<p>
  <strong>队伍二分数:</strong>
  <%= @sport.lp %>
</p>
<p>
  <strong>比赛地点</strong>
  <%= @sport.place %>
<p>
  <strong>比赛时间</strong>
  <%= @sport.week %>
  <%= @sport.wday %>
  <% if @sport.hour and @sport.minute and !@sport.hour.empty? and !@sport.minute.empty? %>
  <%= @sport.hour %>:<%= @sport.minute %>
  <% end %>
</p>
<% end %>
