<p>
  <strong>项目:</strong>
  <%= @sport.title %>
</p>
<p>
  <strong>队伍一:</strong>
  <%= @sport.teamone %>
</p>
<p>
  <strong>队伍一分数:</strong>
  <%= @sport.wp %>
</p>
<p>
  <strong>队伍二:</strong>
  <%= @sport.teamtwo %>
</p>

<p>
  <strong>队伍二分数:</strong>
  <%= @sport.lp %>
</p>
<p>
  <%= @sport.week %>
  <%= @sport.wday %>
  <% if @sport.hour and @sport.minute and !@sport.hour.empty? and !@sport.minute.empty? %>
  <%= @sport.hour %>:<%= @sport.minute %>
  <% end %>
</p>
